<div class="page">
  <section class="card">
    <div class="card-header">
      NgChat
    </div>
    <div class="card-block">
      <ng-container *ngFor="let comment of comments">
        <div class="media">
          <div class="media-left" *ngIf="comment.user.uid !== current_user.uid">
            <a href="#" class="icon-rounded">{{comment.initial}}</a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{comment.user.name}}  Date: {{comment.date | chatDate}}</h4>
            <div>{{comment.content}}</div>
          </div>
          <div class="media-right" *ngIf="comment.user.uid === current_user.uid">
            <a href="#" class="icon-rounded">{{comment.initial}}</a>
          </div>
        </div>
        <hr> 
      </ng-container>
      <!-- Realtime Databaseの反映箇所 -->
      <div class="media">
        <div class="media-left">
          <a href="#" class="icon-rounded">{{(item | async)?.initial}}</a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{(item | async)?.name}}</h4>
          <div>{{(item | async)?.content}}</div>
        </div>
      </div>
      <hr> 
    </div>
  </section>

  <section class="page-footer">
    <form class="chart-form">
      <div class="input-group">
        <input type="text" class="form-control" 
        [(ngModel)]="content"
        name="comment" 
        placeholder="Comment">
        <span class="input-group-btn">
          <button class="btn btn-info" type="button" (click)="addComment(content)">SEND</button>
        </span>
      </div>
    </form>
  </section>
</div>